services:

  victoria:
    restart: unless-stopped
    image: victoriametrics/victoria-metrics
    x-homelab:
      hostnames: ["victoria.alexrudy.tech"]
      expose: false
      ssl: true
      port: 8428
      robots: deny
    networks:
      - backend
      - reverse-proxy
    expose: 
      - 8428
    command:
      - '-promscrape.config=/etc/prometheus/prometheus.yml'
      - '-storageDataPath=/var/data/victoria-metrics-data'
      - '-retentionPeriod=15d'
    configs:
      - source: prometheus
        target: /etc/prometheus/prometheus.yml
    volumes:
      - victoria-data:/var/data/victoria-metrics-data

  grafana:
    restart: unless-stopped
    image: grafana/grafana:10.1.2
    x-homelab:
      hostnames: ["grafana.alexrudy.tech"]
      expose: false
      ssl: true
      port: 3000
      robots: deny
    depends_on:
      - prometheus
    networks:
      - backend
      - reverse-proxy
    expose:
      - 3000
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SERVER_ROOT_URL=https://grafana.alexrudy.tech
      - GF_SECURITY_ADMIN_PASSWORD=opensesame


networks:
  reverse-proxy:
    external:
      name: reverse-proxy
  backend:
    driver: bridge

volumes:
  grafana-data: {}
  prometheus-data: {}

configs:
  prometheus:
    file: ./prometheus.yml
